<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742729565398-s232d6g1oi2crcqr9jmkmi1r502da1vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742729565398-s232d6g1oi2crcqr9jmkmi1r502da1vv</string>
	<key>API_KEY</key>
	<string>AIzaSyDsu4BdJEjOecm7Ksy0hpsp9GTlypz48MI</string>
	<key>GCM_SENDER_ID</key>
	<string>742729565398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-monday</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-monday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742729565398:ios:b97f6b3008b7a77782b577</string>
</dict>
</plist>